cartaoPostagem: "71821937"
codAdministrativo : "11015292"
contrato : "9912271175"
userReversa: "daniel2015"
pwReversa: "dafiti1234"
urlReversa: "https://cws.correios.com.br/logisticaReversaWS/logisticaReversaService/logisticaReversaWS"
userTracking: "1120041800"
pwTracking: "FVZV3RWT4A"
urlTracking: "http://webservice.correios.com.br:80/service/rastro"
maxRetries: 5