cartaoPostagem: "0057018901"
codAdministrativo : "08082650"
contrato : "9912208555"
userReversa: empresacws
pwReversa: 123456
urlReversa: https://apphom.correios.com.br/logisticaReversaWS/logisticaReversaService/logisticaReversaWS
userTracking: "USERTRACKING"
pwTracking: "PWTRACKING"
urlTracking: http://webservice.correios.com.br:80/service/rastro
maxRetries: 5